<!-- templates/post_detail.html -->

{% extends 'base.html' %}

{% block content %}
    <div class="post-entry">
        <h2> {{post.title }}</h2>
        <p>by {{ object.author }} | {{ object.date }}</p>
        <p> {{ post.body }} </p>        
    </div>

    <div class="card-footer" >
        <!-- {% for comment in post.comments.all %}
        <p>
            <span class="font-weight-bold">
            {{ comment.author }} &middot;
            </span>
            {{ comment }}
        </p>
        {% endfor %} -->
        <h2>Comments</h2>
        <hr>
        {% for comment in post.comments.all %}
            <div class="comment">
                <div class="date">{{ comment.created_on }}</div>
                <strong>{{ comment.name }}</strong>
                <p >{{ comment.comment|linebreaks }}</p>
                <hr>
            </div>
        {% empty %}
            <p>No comments here yet :(</p>
        {% endfor %}
        </div>
    
    
    <a href="{% url 'comment_new' post.pk %}" class="btn btn-outline-secondary">+ Add comment</a>   
    {% if user.is_authenticated and user == post.author %} 
    <a href="{% url 'home' %}" class="btn btn-outline-secondary">+ Home</a>
    <a href="{% url 'post_edit' post.pk %}" class="btn btn-outline-secondary">+ Edit Blog Post</a>
    <a href="{% url 'post_delete' post.pk %}" class="btn btn-outline-secondary">  + Delete Blog Post</a>
    {% endif %}

{% endblock content %}

